/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --bg-color: #F4F3F2;
    --text-white: #ffffff;
    --font-main: 'Poppins', sans-serif;
    --padding-frame: 40px; /* Adjusts how far elements are from the edge */
}

html{
    overscroll-behavior: none;
    touch-action: pan-y;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--font-main);
    overflow-x: hidden;
    overscroll-behavior: none;
    touch-action: pan-y;
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* --- THE DARK THEME --- */
/* When we add the 'dark-mode' class to the body, these values override the default ones */
body.dark-mode {
    /* A deep, cinematic charcoal/black */
    --bg-color: #121212;
    /* The text flips to your off-white */
    --text-color: #F4F3F2;

    --nav-text: #F4F3F2;
    --curtain-color: #121212;
}